{:paths ["src" "src/db" "test" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        metosin/reitit {:mvn/version "0.5.10"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        metosin/reitit-swagger {:mvn/version "0.5.10"}
        metosin/reitit-swagger-ui {:mvn/version "0.5.10"}
        ring-cors/ring-cors {:mvn/version "0.1.13"}
        http-kit/http-kit {:mvn/version "2.5.0"}
        org.postgresql/postgresql {:mvn/version "42.2.18"}
        clj-time/clj-time {:mvn/version "0.15.2"}
        nrepl/nrepl {:mvn/version "0.7.0"}
        cider/cider-nrepl {:mvn/version "0.25.2"}
        com.layerware/hugsql {:mvn/version "0.5.1"}
        buddy/buddy-hashers {:mvn/version "1.6.0"}
        buddy/buddy-sign {:mvn/version "3.2.0"}}
 :aliases {:run {:main-opts ["-m" "cinemart.core"]}
           :repl {:main-opts ["-m" "nrepl.cmdline"
                              "-b" "0.0.0.0"
                              "-p" "13371"
                              "--middleware" "[cider.nrepl/cider-middleware]"
                              "--interactive"]}
           :docker-repl {:main-opts ["-m" "nrepl.cmdline"
                                     "-b" "0.0.0.0"
                                     "-p" "13370"
                                     "--middleware" "[cider.nrepl/cider-middleware]"]}}}
